[user]
	name = shishimo
	email = my_blue_wish@yahoo.co.jp
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD --
	info = config --list
